@font-face{
    font-family: "JSArirang";
    src: url("../fonts/JSArirang.otf");
}
@font-face{
    font-family: "BMHANNA_11yrs";
    src: url("../fonts/BMHANNA_11yrs_otf.otf");
}
@font-face{
    font-family: "BMYEONSUNG";
    src: url("../fonts/BMYEONSUNG_otf.otf");
}