*{padding: 0;  margin: 0;  box-sizing: border-box;}
html, body{width: 100%; height: 100%; font-family: 'Noto Sans KR', sans-serif; background-image: url("../img/bg.png");}
body{padding: 50px 80px 0 50px;}
h1{
    display: inline-block;
    font: normal normal normal 180px 'JSArirang';
}
#main_contents_wrap{
    display: flex;
    width: 100%;  height: 100%;
    flex-direction: column;
}
#main_contents_top{
    display: flex;
}

span{
    color: #FF613A;
}