*{padding: 0;  margin: 0;  box-sizing: border-box;}
html, body{width: 100%; height: 100%; font-family: 'Noto Sans KR', sans-serif; background-image: url("../img/bg.png");}
body{
    display: flex;
}
a{text-decoration: none;}
h1{
    display: inline-block;
    font: normal normal normal 180px 'JSArirang';
}
#main_contents ,h1 > img, #contents{width: auto; height: 700px;}
#main_contents_wrap{
    display: flex;
    flex-direction: column;
    padding: 50px 160px 0 100px;
    width: 100%;  height: 100%;
    min-width: 1700px;  min-height: 937px;
}
#main_contents{
    display: flex;
    justify-content: space-between;
}
span{color: #FF613A;}
#main_contents_bottom{width: 100%;  height: 100%;}
#contents > p{
    line-height: 2;
    font-size: 25px;    font-family: 'BMYEONSUNG';
}

#main_contents_bottom{position: relative;}
.circle{
    position: absolute;
    left: 100%;  top: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 57px;
    font-family: 'JSArirang';
    text-align: center;
    height: 200px; width: 200px;
    line-height: 200px;
    background-color: #FF613A;
    border-radius: 50%;
}
#nav_bar{
    width: 60px;  height: 100%;
    background-color: #373737;
}