*{padding: 0;  margin: 0;  box-sizing: border-box;}
h1{
    display: inline-block;
    font: normal normal normal 200px/253px JS Arirang;
    font-family: 'JSArirang';
}
#main_contents_wrap{
    display: flex;
}
span{
    color: #FF613A;
}